/** Global Styles **/
@media {
    :root {
        --black: #01161E;
        --white: #F3F7F0;
        --red: #831923;
        --blue: #5465FF;
        --yellow: #F6AE2D;
        --orange: #F26419;
        --blue-green: #9AD2CB;
        --green: #758E4F;
        --light-yellow: #F3F9D2;
        --purple: #F2BEFC;
        --pink: #BB8588;
        --border: 1px solid var(--black);
        --page-height: calc(100vh - 80px);
    }
    
    * {
        /* color: var(--black); */
        background: var(--white);
        border: none;
        text-decoration: none;
        list-style: '';
        margin: 0;
        padding: 0;
    }

    ::-webkit-scrollbar {
        width: 0.5rem;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 5rem;
        background: var(--white);
    }
    
    ::-webkit-scrollbar-track {
        background: var(--black);
    }
    
    main {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    img {
        z-index: 0;
    }

    h1 {
        font-size: clamp(2rem, 6vw, 6rem);
        
    }
    
    h2 {
        font-size: clamp(1.8rem, 4vw, 4rem);
    }

    .title {
        width: 100%;
        text-align: center;
        color: var(--red);
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-position: under;
    }

    p {
        min-width: 35ch;
        max-width: 65ch;
        width: auto;
        font-size: clamp(12px, 3vw, 24px);
    }

    body::last-child {
        display: none;
    }

    footer {
        display: block;
    }
}

/** News Styles **/
@media {
    .news {
        background: var(--blue);
        color: var(--white);
        padding-left: 1em;
        padding-top: 1em;
    }
    
    .news__title, .news__description {
        background: inherit;
        color: inherit;
    }
    
    .news__title {
        padding-bottom: 10px;
        font-size: 1.5em;
    }
    
    .news__description {
        padding-bottom: clamp(10px, 1.5vw, 20px);
        max-width: fit-content;
    }
    
    .news__close {
        color: inherit;
        background: var(--red);
        padding: 0px 5px;
        border-radius: 50%;
        float: right;
        margin: 8px 5px;
        cursor: pointer;
    }
}

/** Navbar Styles **/
@media {
    #navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        background: var(--black);
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 20000;
        fill: var(--black);
    }
    
    #navbar__logo {
        display: none;
        width: 60px;
        margin-left: 5rem;
        background: inherit;
    }
    
    #navbar__nav {
        width: 100%;
        background: inherit;
        display: flex;
        justify-content: space-evenly;
    }
    
    #navbar li {
        width: fit-content;
        margin: 0;
        background: inherit;
        transition: background 250ms ease-in-out;
    }

    #navbar path, #navbar g {
        stroke: var(--white);    
    }
    
    #navbar button, #navbar figure, #navbar figcaption {
        background: inherit;
        transition: background 250ms ease-in-out;
    }
    
    #navbar svg {
        fill: inherit;
        transition: fill 250ms ease-in-out;
        background: inherit;
    }
    
    #navbar figure:hover, #navbar figure:hover svg, #navbar figure:hover button, #navbar figure:hover figcaption {
        background: black;
        fill: black;
    }
    
    #navbar svg {
        height: 45px;
        width: 45px;
    }
    
    #navbar figcaption {
        color: white;
        font-size: 1em;
        line-height: 1em;
    }

    @media screen and (min-width: 50em) {
        #navbar {
            position: sticky;
            top: 0;
            justify-content: space-between;
        }
    
        #navbar__logo {
            display: block;
        }
    
        #navbar__nav {
            width: 20rem;
        }
    }
}

/** Carousel Styles **/
@media {
    #carousel {
        overflow-x: hidden;
        position: relative;
        height: var(--page-height);
        width: 100%;
        top: 0;
    }
    
    #carousel > div {
        position: absolute;
        height: var(--page-height);
        top: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        row-gap: clamp(1rem, 4vh, 3rem);
    }
    
    #carousel__slide-1 {
        width: 100%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #carousel p, #carousel h2, #carousel h1 {
        background: none;
        text-align: center;
        color: var(--white);
        font-variant: small-caps;
        font-weight: 700;
        -webkit-text-stroke: 1px var(--black);
        width: fit-content;
        margin: auto;
    }
    
    #carousel__slide-1 {
        background-image: linear-gradient(45deg, var(--blue), var(--red));
    }
    
    #carousel__slide-2 {
        background-image: linear-gradient(-45deg, var(--blue-green), var(--blue));
    }
    
    #carousel__slide-3 {
        background-image: linear-gradient(135deg, var(--orange), var(--yellow));
    }
    
    #carousel__slide-4 {
        background-image: linear-gradient(-135deg, var(--red), var(--orange));
    }
    
    #carousel__slide-5 {
        background-image: linear-gradient(var(--light-yellow), var(--blue-green));
    }
    
    #carousel__slide-6 {
        background-image: linear-gradient(180deg, var(--blue-green), var(--green));
    }
    #carousel__slide-7 {
        background-image: linear-gradient(-90deg, var(--yellow), var(--light-yellow));
    }
    
    #carousel__slide-8 {
        background-image: linear-gradient(90deg, var(--pink), var(--purple));
    }
    
    #carousel__slide-9 {
        background-image: linear-gradient(var(--red), var(--pink));
    }
    
    .carousel__text {
        background: transparent;
        width: 100%;
    }
    
    .carousel__img {
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    #carousel img {
        border-radius: 2%;
        max-width: clamp(300px, 80%, 500px);
        max-height: 43vh;
    }
    
    
    #carousel__controls {
        z-index: 13;
        background: transparent;
        position: absolute;
        bottom: 1em;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    #carousel__controls input {
        margin: 0 0.3em;
        accent-color: var(--red);
        cursor: pointer;
    }
    
    #carousel__controls__left, #carousel__controls__right {
        width: 1em;
        background: transparent;
        fill: var(--red);
        position: relative;
        cursor: pointer;
    }
    
    #carousel__controls__left {
        top: 1px;
    }
    
    #carousel__controls__left svg, #carousel__controls__right svg {
        background: transparent;
        cursor: pointer;
    }
    
    #carousel__controls__right {
        top: 1px;
        cursor: pointer;
    }
    
    .furn-descr, #carousel p {
        font-size: clamp(0.8rem, 7vw, 2rem);
        min-width: fit-content;
        margin: auto;
    }
    
    .furn-descr::after {
        content: '(prices may vary)';
        display: block;
        font-size: clamp(0.6rem, 5vw, 1.5rem);
    }
    
    @media screen and (min-width: 72em) {
        #carousel img {
            width: auto;
            margin-right: 5rem;
            height: auto;
            max-height: fit-content;
            max-width: fit-content;
        }

        .carousel__text {
            margin-right: 5rem;
        }
    }

    @media screen and (max-width: 71.998em) {
        #carousel > div {
            grid-template-columns: 1fr;
        }
    }
}

/** About Styles **/
@media {
    #about {
        min-height: var(--page-height);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem 3rem;
    }
    
    #about img {
        width: 100%;
    }
    
    #about__content {
        display: flex;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: clamp(2rem, 10%, 6rem);
        flex-direction: column;
        row-gap: 1.5rem;
    }

    #about__content div {
        width: clamp(300px, 80%, 400px);
    }
    
    #about__content p {
        width: 80%;
    }
    
    #about__before-img {
        color: var(--red);
    }
    
    #about__after-img {
        color: var(--blue);
    }
    
    figcaption {
        text-align: center;
        font-size: 25px;
        width: fit-content;
        margin: auto;
    }

    @media screen and (min-width: 1400px) {
        #about__content {
            flex-direction: row;
        }
        #about__content p {
            margin-right: 5rem; 
        }
    }
}

/** Tour Styles **/
@media {
    #tour {
        min-height: var(--page-height);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem 0;
    }
    
    #tour p {
        margin-top: 3rem;
        text-align: center;
    }

    #tour__viewbar {
        white-space: nowrap;
        display: block;
        overflow-x: scroll;
        width: 290px;
        height: 80px;
    }
    
    #tour__viewbar figure {
        width: 60px;
        height: 80px;
        align-items: center;
        justify-content: center;
        border-collapse:collapse;
        margin: 0;
        cursor: pointer;
        display: inline;
    }
    
    #tour__viewbar img {
        max-width: 105px;
        max-height: 80px;
        width: auto;
        height: auto;
    }
    
    #tour__viewbar .last-image {
        border: none;
    }
    
    #tour__img-selector {
        display: flex;
        border: var(--border);
        margin-top: 2rem;;
    }
    
    #tour__main-img-container {
        height: 240px;
        width: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #tour__main-img {
        max-height: 240px;
        max-width: 290px;
    }
    
    
    @media screen and (min-width:50em) {
        #tour__main-img-container {
            height: 400px;
            width: 525px;
            border-top: var(--border);
        }
        
        #tour__main-img {
            max-height: 400px;
            max-width: 525px;
        }

        #tour__viewbar figure {
            border-bottom: var(--border);
            display: flex;
            width: 105px;
            height: 80px;
        }
    
        #tour__viewbar img {
            max-width: 105px;
            max-height: 80px;
            margin: auto;
        }

        #tour__viewbar {
            width: 122px;
            height: 400px;
            overflow: auto;
        }
    }
    
    @media screen and (max-width: 48.98em) {
        #tour__img-selector {
            flex-direction: column;
        }
    }
}

/** Contact Styles **/
@media {
    #contact {
        min-height: var(--page-height);
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    #contact ul a{
        color: var(--blue);
    }
    
    #contact ul i {
        margin-right: 0.5rem;
    }
    
    #contact li, footer li {
        font-size: clamp(12px, 3vw, 24px);
    }

    #contact__content {
        width: clamp(270px, 90%, 1400px);
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2rem;
        margin: 2.5rem auto;
    }
    
    #contact__content iframe {
        height: clamp(266px, 50%, 400px);
        width: clamp(266px, 80%, 400px);
        border: 3px solid var(--black);
    }    
    
    #contact__content ul {
        width: 90%;
        margin: auto;
    }
    
    #contact__content p, #contact__content iframe{
        margin: auto;
    }
    
    #contact__content p {
        max-width: 55ch;
    }
    
    .subtitle {
        color: var(--red);
        text-align: center;
        text-decoration: underline;
        text-underline-position: under;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        
    }    
    
    i {
        width: 10px;
        height: 10px;
    }
    
    @media screen and (max-width: 62.98em) {
        #contact__content iframe {
            margin-bottom: 100px;
        }
    }
    
    @media screen and (min-width: 63em) {
        #contact__content {
            row-gap: 5em;
            grid-template-columns: 1fr 1fr;
        }
    
        #contact__content ul {
            margin: 0;
        }
    
        .subtitle {
            margin-top: 3rem;
        }
    }
}

/** Footer Styles **/
@media {
    footer {
        margin-top: 7rem;
        color: var(--white);
        background: var(--black);
        padding: 2rem 0;
    }
    
    footer nav, footer ul, footer li, footer p, footer a{
        color: inherit;
        background: inherit;
    }
    
    footer ul {
        display: flex;
        justify-content: center;
    }
    
    footer nav {
        width: 100%;
    }
    
    footer p {
        width: 100%;
        margin: 1rem auto;
        text-align: center;
    }
    
    footer li:not(:last-child)::after {
        content: '|';
        color: var(--red);
    }

    @media screen and (max-width: 50em) {
        footer {
            margin-bottom: 65px;
        }
    }
}